doctype html5
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Document
  body
    div.container
      header.header
        div.photo
        div.name Геральт Ведьмакович
        div.about Метросексуал с большой буквы
      div.content
        div.section.expectations
          div.section-title Ожидания от ШРИ
          div.tile.freedom Свобода
          div.tile.equality Равенство
          div.tile.brotherhood Братство
          div.tile.employment Трудоустройство
        div.section
          div.title Мои работы
          div.sub-section
            div.title Очень работа 1
            div.carousel
            div.description
          div.sub-section
            div.title Очень работа 2
            div.carousel
            div.description
          div.sub-section
            div.title Очень работа 3
            div.carousel
            div.description
      footer.footer
